* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to bottom, #f4fff0, #fffbea);
    color: #222;
}

/* CABEÇALHO */
.cabecalho {
    background: #2e7d32;
    color: white;
    padding: 25px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.logo h1 {
    font-size: 34px;
    margin-bottom: 8px;
}

.logo p {
    font-size: 16px;
}

/* MENU */
nav {
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffe082;
}

/* BARRA */
.barra {
    background: #81c784;
    color: #fff;
    text-align: center;
    padding: 12px;
    font-weight: bold;
}

/* HERO */
.hero {
    text-align: center;
    padding: 50px 20px;
}

.tag-principal {
    background: #2e7d32;
    color: white;
    padding: 8px 15px;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.hero p {
    max-width: 700px;
    margin: auto;
    color: #555;
    line-height: 1.6;
}

/* CARDS */
.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.cartao {
    width: 320px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.cartao:hover {
    transform: translateY(-10px) scale(1.03);
}

.cartao-imagem {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.conteudo {
    padding: 20px;
}

.categoria {
    background: #c8e6c9;
    color: #1b5e20;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.data {
    display: block;
    margin: 12px 0;
    color: #777;
    font-size: 12px;
}

.conteudo h3 {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.4;
}

.conteudo p {
    color: #555;
    line-height: 1.5;
}

/* SELOS */
.selo {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.verdade {
    background: #4caf50;
    color: white;
}

.fake {
    background: #e53935;
    color: white;
}

/* RODAPÉ */
footer {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}

footer h2 {
    margin-bottom: 10px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .hero h2 {
        font-size: 26px;
    }

    .container-cards {
        padding: 20px;
    }

    .cartao {
        width: 100%;
        max-width: 350px;
    }
}
